/* default site styling */

body {
    background-color: rgb(20, 20, 20);
    font-family: Roboto;
}

div {
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* start of the main area of the site */

.main{
    display: flex;
}

.main > *{
    flex: 1;
}

.main-content{
    flex: 4;
}

/* start of the newsbar */

.main-rightSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.newsItem{
    height: 200px;
    width: 300px;
    margin: 10px;
}

/* @media screen and (max-width: 480px) {
    .newsItem {
      height: 200px;
    width: 300px;
    margin: 10px;
    }
  }

  @media screen and (max-width: 992px) {
    .newsItem {
      height: 200px;
    width: 600px;
    margin: 10px;
    }
  } */